{% extends 'base.html.twig' %}


{% block body %}


	<h1>votre passerelle vers l'avenir-reservez dès maintenant</h1>
	 <img src="https://www.shutterstock.com/shutterstock/photos/1188691570/display_1500/stock-vector-bon-voyage-inscription-quote-1188691570.jpg" alt="Bon Voyage Image"> 
   
{% endblock %}